.App {
    text-align: center;
}

/*.Keyboard-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Keyboard-logo {
    animation: Keyboard-logo-spin infinite 20s linear;
  }
}*/

.App-header {

    background: radial-gradient(ellipse at top, #c9b9c3, transparent),
    radial-gradient(ellipse at bottom, #60543b, transparent);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: rgba(255, 255, 255, 0.885);
    border: 1px black;
}

.Box {
    display: flex;
    justify-content: center;
}


/*.Keyboard-link {
  color: #61dafb;
}

@keyframes Keyboard-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
